/* Modal */

.modal-body > #modalCorpoTexto {
    margin-top: 10px;
}

/* Navbar */

.navbar-brand {
    font-size: 2rem;
}

#playLogo {
    margin-left: 2px;
}

#boxPesq, #boxPesq::placeholder, #boxPesq:focus {

    border: none;
    outline: none;
    box-shadow: none;
    background-color: #000;
    color: white;
}

/* Corpo */
/* Carrosel */

div.divTitle {

    padding: 10px;
    margin: 10px;
    text-align: center;
}

.carousel-control-prev {

    column-width: 0px;
    justify-content: left;
}

span.carousel-control-prev-icon {
    margin-left: -10%;
}

.carousel-control-next {

    column-width: 0px;
    justify-content: flex-end;
}

span.carousel-control-next-icon {
    margin-right: -10%;
}

.carousel-indicators {
    margin-bottom: 0;
}

.carousel-item > div > div > img {

    display: block;
    padding: 1.5rem;
    margin: 0 auto;
}

.fas.fa-star {
    color: #ffc107;
}

.filmesInfo {
    margin-top: 10px;
}

.filmesInfo > div > img {

    width: 70%;
    display: block;
    padding: 1.5rem;
    margin: 0 auto;
}

/* Em Cartaz */

.bannerCartaz img {

    height: 300px;
    display: block;
    padding: 5px;
    border: solid 3px black;
    border-radius: 10px;
    margin: 5px auto;
    background-color: #ffc107;
}

#btnCartaz, #btnPopular {
    margin: 10px;
}

/* Pré-Rodapé */

#preRodape {
    margin-top: 15px;
}

/* Notícias */

#noticiasArea > :nth-child(2) {
    border-top: 0;
}

.cardNoticia {

    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid 3px black;
}

.iconNoticia {

    width: 100%;
    display: block;
    margin: 0 auto;
}

div.col-12 > h6 {

    text-decoration: underline;
    color: #ffc107;
}

/* Social e Links */

#social {

    padding-left: 15px;
    border-left: solid black;
}

/* Mapa do Site e Categorias */

#mapaSite .active {

    border-color: #ffc107;
    background-color: #ffc107;
    color: black;
}

#categorias {
    margin-top: 10px;
}

/* Sobre e Social Media */

#sobre {

    text-align: justify;
    margin-top: 15px;
}

#socialMedia a {
    text-decoration: none;
}

#socialMedia a i {

    font-size: 50px;
    color: black;
}

/* Rodapé */

footer {
    padding: 10px;
}

footer > .row {
    align-items: center;
}

footer > .rodape > div > p {

    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-bottom: 0px;
}

/* Media Queries */

/* .col-md- */
@media screen and (min-width: 768px) and (max-width: 991px) {

    /* Corpo */
    /* Carrosel */

    .carousel-item > div > div > img {
        width: 90%;
    }

    /* Em Cartaz */

    section > .bannerCartaz > img {
        margin-top: 10px;
    }

    /* Pré-Rodapé */
    /* Sobre e Social Media */

    #social {

        padding-left: 0;
        border-left: 0;
    }

    /* Rodapé */

    footer {
        margin-top: 10px;
    }

    .rodape div > span {
        font-size: 2rem;
    }
}

/* .col-sm- */
@media screen and (min-width: 576px) and (max-width: 767px) {

    /* Corpo */
    /* Carrosel */

    .carousel-item > div > div ~ * {

        padding-left: 50px;
        padding-right: 50px;
    }

    .carousel-item > div > div > img {
        width: 90%;
    }

    /* Em Cartaz */

    section > .bannerCartaz > img {
        margin-top: 10px;
    }

    /* Pré-Rodapé */
    /* Sobre e Social Media */

    #social {

        padding-left: 0;
        border-left: 0;
    }

    /* Rodapé */

    footer {
        margin-top: 10px;
    }

    .rodape div > span {
        font-size: 2rem;
    }
}

/* .col- */
@media screen and (min-width: 200px) and (max-width: 575px) {

    /* Corpo */
    /* Carrosel */

    .carousel-item > div > div ~ * {

        padding-left: 50px;
        padding-right: 50px;
    }

    .carousel-item > div > div > img {
        width: 90%;
    }

    /* Em Cartaz */

    section > .bannerCartaz > img {
        margin-top: 10px;
    }

    /* Pré-Rodapé */

    #preRodape {

        margin-left: 5px;
        margin-right: 5px;
    }

    /* Sobre e Social Media */

    #social {

        padding-top: 15px;
        padding-left: 0;
        border-top: solid 3px black;
        border-left: 0;
    }

    /* Rodapé */

    footer {
        margin-top: 10px;
    }

    .rodape div > span {
        font-size: 2rem;
    }
}